@mixin title()
    color: #000000
    font-family: Montserrat
    font-size: 38px
    font-weight: 700
    font-style: normal
    letter-spacing: normal
    line-height: 28px
    text-align: center
    text-transform: uppercase


@mixin subTitle()
    color: #000000
    font-family: Merriweather
    font-size: 18px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: 28px
    text-align: center
    text-transform: uppercase
    opacity: 0.62