html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;500;700&family=Raleway:wght@400;500&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
        link(rel="stylesheet", href="css/main.css")
        title Shopno one page
    body
        header#header
            .container
                .navigation
                    a.logo(href="#header")
                        p.logoText sh
                            span o
                            | pno
                    .burger
                        .burgerLine
                            span
                        .navigationMenu
                            a.navigationMenu__link(href="#about") ABOUT US
                            a.navigationMenu__link(href="#featured") featured works
                            a.navigationMenu__link(href="#service") our services
                            a.navigationMenu__link(href="#team") small team
                            a.navigationMenu__link(href="#says") what they says
                            a.navigationMenu__link(href="#contacts") contacts
                .headerBlock
                    h1.titleSection Say Hello to 
                        span &nbsp;SHOPNO!&nbsp;
                    h1.titleSection 
                        span &nbsp;Agency 
                        | &nbsp;CORPORATE SHOPNO Theme

                    // modal

                    button.btn.btn-outline-dark.headerBtn.font-weight-bold(type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@getbootstrap') CONTACT US
                    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title New message
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') ×
                                .modal-body
                                    form
                                        .form-group
                                            label.col-form-label(for='recipient-name') Recipient:
                                            input#recipient-name.form-control(type='text' placeholder='SHOPNO')
                                        .form-group
                                            label.col-form-label(for='message-text') Message:
                                            textarea#message-text.form-control(placeholder="MESSAGE")
                                .modal-footer
                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                    button.btn.btn-primary(type='button') Send message
                .juice
                    img(src="img/juice.png", alt="sok")

        section#about.about_us
            .container
                h2.titleSection ABOUT US
                h5.subtitleSection Lorem ipsum dolor sit amet event landing template

                .contentSection
                    .slider
                        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                                li(data-target='#carouselExampleIndicators' data-slide-to='1')
                                li(data-target='#carouselExampleIndicators' data-slide-to='2')
                                li(data-target='#carouselExampleIndicators' data-slide-to='3')
                            .carousel-inner
                                .carousel-item.active.slide-item
                                    img.d-block(src='img/slide.jpg' alt='First slide')
                                .carousel-item.slide-item
                                    img.d-block(src='https://best-stroy.ru/foto-statji/24/37/18.jpg?1496925027' alt='First slide')
                                .carousel-item.slide-item
                                    img.d-block.w-100(src='https://i.pinimg.com/originals/72/c1/11/72c1116b4e975b04baff1bed17271a6e.png' alt='Third slide')
                                .carousel-item.slide-item
                                    img.d-block.w-100(src='https://timeforwoman.ru/upload/netcat_files/userfiles/04_Vokrug%20tebya/04_Idei%20dlya%20doma/16-06-12_04_IDD_7%20idei%20rabochego%20mesta%20dlya%20malenkih%20komnat/2-5.jpg' alt='Third slide')
            
                    .textBlock
                        h5.textBlock__title We Actually Do amazing works
                        p.textBlock__text A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.
                        p.textBlock__text Preceding aircraft in approach correct sight. conducted under instrument flight rules.
                        h5.textBlock__title why we are the great?
                        p.textBlock__text A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The preceding aircraft in approach correct sight.

        section#featured.featured-works
            .container
                h2.titleSection featured works
                h5.subtitleSection Lorem ipsum dolor sit amet event landing template
                .wrapper-works
                    //.block-work
                    img(src="img/banner3.jpg", alt="work")
                    //.block-work
                    img(src="img/banner2.jpg", alt="work")
                    //.block-work
                    img(src="img/banner1.jpg", alt="work")
                    //.block-work
                    img(src="img/banner5.jpg", alt="work")
                    //.block-work
                    img(src="img/banner6.jpg", alt="work")
                    //.block-work
                    img(src="img/banner7.jpg", alt="work")

        section#service.our-services
            .container
                h2.titleSection our services
                h5.subtitleSection Lorem ipsum dolor sit amet event landing template
                .wrapper-service
                    .service.design-cool
                        .service--active.active__one
                                h5.titleService--active Designing is The CooL LOVE FOR.
                                p.discService--active Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.
                                .close--service.close__one
                                    i.fas.fa-times

                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something and you middle most..
                            .moreService.more__one 
                                p.more Know More &#8594;
                    

                    .service.psd-design
                        .service--active.active__two
                                h5.titleService--active Designing is The CooL LOVE FOR.
                                p.discService--active Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magnam inventore soluta. Doloribus expedita facere quas aspernatur dignissimos alias eos ipsam iste rerum dolore, nisi est dicta impedit minus veniam?
                                .close--service.close__two
                                    i.fas.fa-times
                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something and you middle most..
                            .moreService.more__two
                                p.more Know More &#8594;

                    .service.design-three
                        .service--active.active__three
                                h5.titleService--active Designing is The Cool
                                p.discService--active Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magnam inventore soluta. Doloribus expedita facere quas aspernatur dignissimos alias eos ipsam iste rerum dolore, nisi est dicta impedit minus veniam?
                                .close--service.close__three
                                    i.fas.fa-times
                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something and you middle most..
                            .moreService.more__three
                                p.more Know More &#8594;


                    .service.design-four
                        .service--active.active__four
                                h5.titleService--active Designing is The Cool
                                p.discService--active Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magnam inventore soluta. Doloribus iam?
                                .close--service.close__four
                                    i.fas.fa-times
                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something and you middle most..
                            .moreService.more__four
                                p.more Know More &#8594;

                    .service.design-five
                        .service--active.active__five
                                h5.titleService--active Designing is The Cool
                                p.discService--active Lorem ipsum dolor sit, amet consectetur aita facere quas aspernatur dignissimos alias eos ipsam iste rerum dolore, nisi est dicta impedit minus veniam?
                                .close--service.close__five
                                    i.fas.fa-times
                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something..
                            .moreService.more__five
                                p.more Know More &#8594;

                    .service.design-six
                        .service--active.active__six
                                h5.titleService--active Designing is The Cool
                                p.discService--active Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magnam inventore soluta. Doloribus expedita facere quas aspernatur dignissimos alias eos ipsam iste rerum dolore, nisi est dicta impedit minus veniam?
                                .close--service.close__six
                                    i.fas.fa-times
                        .bcService
                            h5.titleService cool psd Design
                            p.discService Our most popular service is our we know that sometimes it’s something and you middle most..
                            .moreService.more__six
                                p.more Know More &#8594;
                .wrap-more
                    p.show-more Show more...

        section#team.team
            .container
                h2.titleSection small team
                h5.subtitleSection Lorem ipsum dolor sit amet event landing template

                .teamBlock
                    .teamItem__one
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope

                    .teamItem__two
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope                

                    .teamItem__three
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope     

                    .teamItem__four
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope 

                    .teamItem__five
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope 

                    .teamItem__six
                        .teamItem__hover
                            h4.title__hover AL RAYHAN 
                                span / UI Designer
                            p.disc__hover Lorem Ipsum is not simply is  an action designer random text It has roots in a piece. 
                            .contacts__hover
                                a(href="#") 
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-dribbble
                                a(href="#")
                                    i.far.fa-envelope 

        section#says.says
            .container
                h2.titleSection what they says
                h5.subtitleSection Lorem ipsum dolor sit amet event landing template
                // Slider main container
                .swiper-container
                    .swiper-wrapper
                        // Slides
                        .swiper-slide 
                            .slide__says
                                .imgSlide
                                    img(src="img/team_1.jpg", alt="team")
                                .textSlide
                                    h4.title__slide AL RAYHAN 
                                        span / UI Designer
                                    p.disc__slide Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .stars
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                        .swiper-slide 
                            .slide__says
                                .imgSlide
                                    img(src="img/team_3.jpg", alt="team")
                                .textSlide
                                    h4.title__slide AL RAYHAN 
                                        span / UI Designer
                                    p.disc__slide Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .stars
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                        .swiper-slide 
                            .slide__says
                                .imgSlide
                                    img(src="img/team_2.jpg", alt="team")
                                .textSlide
                                    h4.title__slide AL RAYHAN 
                                        span / UI Designer
                                    p.disc__slide Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    .stars
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                        
                    // If we need pagination
                    .swiper-pagination
                    // If we need navigation buttons
                    .swiper-button-prev
                    .swiper-button-next
    



                    //- .slide__says
                    //-     .imgSlide
                    //-         img(src="img/team_1.jpg", alt="team")
                    //-     .textSlide
                    //-         h4.title__slide AL RAYHAN 
                    //-             span / UI Designer
                    //-         p.disc__slide Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    //-         .stars
                    //-             i.fas.fa-star
                    //-             i.fas.fa-star
                    //-             i.fas.fa-star
                    //-             i.fas.fa-star
                    //-             i.fas.fa-star

        section#logotype.logotype
            .container
                img(src="img/logotype.png", alt="logo")
    
        section#contacts.contacts
            .container
                .wrap-contacts
                    .messageBlock
                        form.contactsForm(action="#" name="messageForm")
                            input(type="text" name="name" placeholder="Name*" required)
                            input(type="text" name="Subject" placeholder="Subject*" required)
                            input(type="email" name="E-mail" placeholder="E-mail*" required)
                            textarea(name="message" placeholder="Massage*" required)
                            button(type="submit") SEND MESSAGE
                    
                    .contactsBlock
                        .contactsBlock__adress
                            p.adress Adress line 1 
                            p.adress Adress line 2 
                            p.phone Phone: 
                                a(href="tel:+45645654546") +548 945645
                            p.fax Fax: 
                                a(href="tel:+45645654546") +45645654546
                            p.web Web: 
                                a(href="http://www.designagency.net", target="_blank", rel="noopener noreferrer")  www.designagency.net
                            p.mail E-mail: 
                                a(href="mailto:info@designagency.net") info@designagency.net
                        .contactsBlock__map
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.9328541865707!2d27.52689261577194!3d53.89739738009819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcffb3fc00347%3A0x4ae7e952a7309fa7!2z0YPQuy4g0JrQsNGA0LvQsCDQm9C40LHQutC90LXRhdGC0LAgNjYsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1604434802223!5m2!1sru!2sby' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')

        section#footer.foot
            .container
                .follow
                    h3.titleFooter FOLLOW US
                    .socialFollow
                        a(href="#").socialFollow__item
                            i.fab.fa-pinterest-p
                        a(href="#").socialFollow__item 
                            i.fab.fa-twitter
                        a(href="#").socialFollow__item 
                            i.fab.fa-facebook-f
                        a(href="#").socialFollow__item   
                            i.fab.fa-dribbble

                    p.copy Copyright Masum Parvej, All Rights Reserved


        //swiper
        script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
        //font awesome
        script(src="https://kit.fontawesome.com/9bdc228e6a.js" crossorigin="anonymous")
        //bootstrap          
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

        script(src="js/main.js")
